.Archive.post {
    background-color: map-get($bgColors, "default");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: map-get($padding, "thick");

    .SingleInArchive {
        box-shadow: 4px 6px 24px #eee;
        background-color: map-get($bgColors, "light");
        padding: map-get($padding, "medium");
        &:hover {
            background-color: map-get($bgColors, "default");
            cursor: pointer;
        }
        .title {
            font-size: map-get($fontSizes, "medium");
            color: $mainColor;
        }

        .sub-title {
            font-size: map-get($fontSizes, "sub-title");
            color: $secondaryColor;
        }
        .coverImage {
            width: 100%;
        }
        .excerpt {
            font-size: map-get($fontSizes, "paragraph");
        }
    }
}
.Single.post {
    .title {
        font-size: map-get($fontSizes, "title");
        color: $mainColor;
    }
    .sub-title {
        font-size: map-get($fontSizes, "sub-title");
        color: $secondaryColor;
    }
    .coverImage {
        width: 100%;
    }
}
