$fontSizes: (
    'very-small': 12px,
    'small': 16px,
    'medium': 24px,
    'big': 32px,
    'verybig': 44px,
    'huge': 60px
);
$mainFontFamily: 'Rubik', sans-serif;
$secondaryFontFamily: 'Lato';
a {
    text-decoration: none;
}
a,
body,
html,
b,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
option,
span {
    font-family: $mainFontFamily;
}
