input,
button,
textarea,
select,
option,
label {
    min-height: 60px;
    position: relative;
    font-size:16px;
    border: 0px;
    outline: none;
}
button:hover {
    cursor: pointer;
}
.formField{
}
.formField:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
input.formButton {
    cursor: pointer;
}

